

<div class="contactenos">
  <h1>Contactenos</h1>
  <label>Nombre:</label>
  <input type="text" class="form-control" [(ngModel)]="name" placeholder="Ingrese su nombre...">{{name}}<br>
  <label>Apellido:</label>
  <input type="text" class="form-control" [(ngModel)]="lastname" placeholder="Ingrese su apellido...">{{lastname}}<br>
  <label>Télefono:</label>
  <input type="text" class="form-control" [(ngModel)]="phoneNumber" placeholder="Ingrese su número teléfonico..."><br>
  <label>Correo:</label>
  <input type="text" class="form-control" [(ngModel)]="email" placeholder="Ingrese su correo electrónico"><br>
  <button class="btn btn-primary">Enviar datos</button>
</div>


<label>{{name}}</label>
